<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dylan Murphy - University of Oregon</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Favicon (optional, add a small icon for the page tab) -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="ipod-screen">
        <div class="ipod-top">
            <div class="ipod-top-left"></div>
            <div class="ipod-top-middle">
                <h1 class="pixel-text">Dylan Murphy - University of Oregon Computer Science</h1>
            </div>
            <div class="ipod-top-right">
                <img src="{{ url_for('static', filename='images/battery.png') }}" alt="battery" class="battery">
            </div>
        </div>
        <ul class="menu pixel-text">
            <li>Skills</li>
            <li>Programming languages</li>
            <li>Projects</li>
            <li>LinkedIn</li>
            <li>Github</li>
            <li>Now Playing</li>
        </ul>
    </div>
</body>
</html>
